html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  background: linear-gradient(rgb(97, 97, 97), rgba(168, 132, 65, 0.685));
}
