@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.header {
    margin: 0 0;
    background-color: antiquewhite;
}
.header-logo {
    display: block;
    text-align: center;
    font-family: 'Pacifico', 'cursive';
    font-size: 60px;
}
.nav-link {
    text-decoration: none;
    background-color: lightcoral;
    border-radius: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 30px;
    padding: 7px 10px;
    margin: 10px 7px;
}
.nav-list {
    text-align:right;
    padding-right: 15px;
    padding-bottom: 15px;
}