<div class="header">
  <span class="header-logo">CarsTerest</span>
  <nav>
    <ul class="nav-list">
      <ng-template #loggedInUser>
        <a routerLink="auth/login" routerLinkActive="active" class="nav-link">Logout</a>
      </ng-template>
      <ng-template #loggedOutUser>
        <a routerLink="auth/login" routerLinkActive="active" class="nav-link">Login</a>
        <a routerLink="auth/Register" routerLinkActive="active" class="nav-link">Register</a>
      </ng-template>
      <ng-container *ngTemplateOutlet="true ? loggedOutUser : loggedInUser"></ng-container>
    </ul>
  </nav>
</div>